<p>こんにちは <%= @resource.email %> さん！</p>

<p>以下のリンクからパスワードを変更することができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>もしパスワード変更したくない場合は放置してください。</p>
